@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vh: 1vh;
}

body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@layer base {
  body {
    @apply dark:bg-zinc-900 bg-[#fafafa];
  }
}

@layer components {
  .animate-width {
    width: 41.666667%;
    animation: expand 2s ease forwards;
  }

  @keyframes expand {
    0% {
      width: 41.666667%;
    }
    100% {
      width: 100%;
    }
  }

  .animate-width-inverse {
    width: 100%;
    animation: reduce 2s ease forwards;
  }

  @keyframes reduce {
    0% {
      width: 100%;
    }
    100% {
      width: 41.666667%;
    }
  }

  .animate-opacity {
    opacity: 0.2;
    animation: fadeIn 2s ease forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-opacity-inverse {
    opacity: 1;
    animation: fadeOut 1s ease forwards;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .animate-opacity-dropdown {
    opacity: 0.2;
    animation: dropdownfadeIn 0.7s ease forwards;
  }

  @keyframes dropdownfadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-opacity-dropdown-inverse {
    opacity: 1;
    animation: dropdownFadeOut 0.7s ease forwards;
  }

  @keyframes dropdownFadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .animate-opacity-dropdown {
    opacity: 0.2;
    animation: dropdownfadeIn 0.5s ease forwards;
  }

  .cursor-shine-effect {
    background: radial-gradient(white, #3984ff00 70%);
    opacity: 0.1;
    transition: opacity 2s;
    pointer-events: none;
  }

  .glassmorphism {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 10px;
  }
}
