@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--color-typography);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  background: --color-primary;
  background-color: var(--color-primary);
}

@layer base {
  html {
    --color-primary: #f8f8f8;
    --color-secondary: #e8e8e8;
    --color-buttons: #141414;
    --color-typography: #141414;
    --color-disabled: #808080;
  }

  html.dark {
    --color-primary: #161616;
    --color-secondary: #0d0d0d;
    --color-buttons: #f2f2f1;
    --color-typography: #f2f2f1;
    --color-disabled: #808080;
  }
}

@layer components {
  .animate-width {
    width: 41.666667%;
    animation: expand 2s ease forwards;
  }

  @keyframes expand {
    0% {
      width: 41.666667%;
    }
    100% {
      width: 100%;
    }
  }

  .animate-width-inverse {
    width: 100%;
    animation: reduce 2s ease forwards;
  }

  @keyframes reduce {
    0% {
      width: 100%;
    }
    100% {
      width: 41.666667%;
    }
  }

  .animate-opacity {
    opacity: 0.2;
    animation: fadeIn 2s ease forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-opacity-inverse {
    opacity: 1;
    animation: fadeOut 1s ease forwards;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .animate-opacity-dropdown {
    opacity: 0.2;
    animation: dropdownfadeIn 0.7s ease forwards;
  }

  @keyframes dropdownfadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-opacity-dropdown-inverse {
    opacity: 1;
    animation: dropdownFadeOut 0.7s ease forwards;
  }

  @keyframes dropdownFadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .animate-opacity-dropdown {
    opacity: 0.2;
    animation: dropdownfadeIn 0.5s ease forwards;
  }

  .cursor-shine-effect {
    background: radial-gradient(white, #3984ff00 70%);
    opacity: 0.1;
    transition: opacity 2s;
  }

  .glassmorphism {
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }

  .animate-on-mount {
    position: relative;
    left: 100%;
    animation: on-mount 3s forwards;
  }

  @keyframes on-mount {
    to {
      left: 0;
    }
  }

  .animate-slide-left {
    position: relative;
    left: -125%;
    animation: slide-left 1s forwards;
  }

  @keyframes slide-left {
    to {
      left: 0;
    }
  }

  .animate-slide-right {
    position: relative;
    right: -125%;
    animation: slide-right 1s forwards;
  }

  @keyframes slide-right {
    to {
      right: 0;
    }
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-typography);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.custom-underline {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-typography);
}

.scroll-hint-opacity {
  opacity: 0;
  animation: fadeIn 8s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
